body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid red;
} 
.image {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
}
.container {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */
    gap: 20px;
}

/* .test {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    gap: 20px;
} */

/* .containerII {
    display: flex;
    border:
} */
/* .person{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
} /*end here*/

.start {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    border-radius: 30%;
    /* background-color: purple; */
    color: white;
}
.optionI{
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    border-radius: 30px;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 3px outset black;
    background-color: blue;
    color: white;
}
.optionII{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px outset black;
    background-color: blue;
    color: white;
}
.school {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
}

.life {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
}

/* .circle {
    display: grid;
    grid-template-areas: "layer";
    place-items: end;
    background: #185adb;
    border-radius: 50%;
  
    --radius: 25vmin;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
  }
  
  .stat {
    grid-area: layer;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
  
    display: grid;
    place-items: center;
  
    background: #ffc947;
    color: #185adb;
    font-weight: bold;
    font-size: 3vmin;
  
    --d: calc(var(--i) / var(--total));
    --r-offset: -0.25turn;
    --r-amount: 1turn;
    --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
  } */

  .restart {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background: red;
    color: white;
    gap: 20px;
  }