body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: 3px solid red; */
    background-image: url(MEDIA/img\ without\ bar.png); background-position: center; background-size: cover; background-repeat: no-repeat;
} 
.image {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
}
.container {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */
    gap: 20px;
}
.quadrants {
    display: flex;
    flex-direction: row;
    width: 100vw; height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    gap: 100px;
}
.quad {
    border: 3px solid red;
    width: 50vw;
    height: 100vh;
    /* background-color: green; */
}
.taskbar_container {
    display: flex;
    /* background-image: url('MEDIA/taskbar\ only.png'); background-position: center; background-size: cover; background-repeat: no-repeat; */
    /* border: 3px solid green; */
    width: 100%;
    height: auto;
    z-index: -1;
    position: fixed;
    bottom: 0px;
}
.art {
    z-index: 2;
    width: 100vw;
    height: auto;
    display: none;
    position: fixed;
}

/* .test {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    gap: 20px;
} */

/* .containerII {
    display: flex;
    border:
} */
/* .person{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
} /*end here*/

.start {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    border-radius: 30%;
    /* background-color: purple; */
    /* border: 3px solid red; */
    filter: drop-shadow(0 0 200px rgb(255 255 255));
    margin-top: -100px;
    z-index: 1;
}
.optionI{
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    border-radius: 30px;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 3px outset black;
    background-color: blue;
    color: white;
    z-index: 1;
}
.optionII{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px outset black;
    background-color: blue;
    color: white;
    z-index: 1;
}
.school {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}

.life {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}
.life_sub {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}
.life_sub2 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}
.life_sub3 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}

.texting_non_war_related_plans {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
    display: none;
}

.assignmentsI {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}
.assignmentsII {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}
.assignmentsIII {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    color: white;
    gap: 20px;
    z-index: 1;
}

.homework {
    z-index: 2;
    height: 100vw;
    width: auto;
    display: none;
    position: fixed;
}

  .restart {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background: red;
    color: white;
    gap: 20px;
    z-index: 3;
  }

  a {
    text-decoration: none;
  }

  .button_deco {
    background: blue; border: 3px outset black; border-radius: 30px; width: 100px; text-align: center
  }